[actions]
# Dominant object / person detections.
domdir = data/h2t/rpn/

# Ground truth directory.
gtdir = data/h2t/gt/

# Directory for the action tubes.
scoredir = data/h2t/boxscores/

# Directory for the action tubes.
tubedir = data/h2t/tubes/

# Frames.
framedir = data/h2t/videos/

# Wordtovec file for the actions.
wtvfile = data/h2t/wtv/sports-wtv.npy

# Directory for the averaged supporting object scores.
supportdir = data/h2t/global-objects/shuffle-avg/

# Contextual video scores.
videoscores = data/h2t/wtv/videoscores-wtv-shuffle.npy

# Video file.
vidfile = data/h2t/annotations/all_videos.txt

# Train and test splits.
trainsplit = data/h2t/annotations/trainlist.txt
testsplit  = data/h2t/annotations/testlist.txt
