[actions]
# Dominant object / person detections.
domdir = data/j-hmdb/rpn/

# Ground truth directory.
gtdir = data/j-hmdb/gt/

# Directory for the action tubes.
scoredir = data/j-hmdb/boxscores/

# Directory for the action tubes.
tubedir = data/j-hmdb/tubes/

# Frames.
framedir = data/j-hmdb/videos/

# Wordtovec file for the actions.
wtvfile = data/j-hmdb/wtv/sports-wtv.npy

# Directory for the averaged supporting object scores.
supportdir = data/j-hmdb/global-objects/shuffle-avg/

# Contextual video scores.
videoscores = data/j-hmdb/wtv/videoscores-wtv-shuffle.npy

# Video file.
vidfile = data/j-hmdb/annotations/all_videos.txt

# Train and test splits.
trainsplit = data/j-hmdb/annotations/train-split1.txt
testsplit  = data/j-hmdb/annotations/test-split1.txt
