[actions]
# Dominant object / person detections.
domdir = data/ucf-sports/rpn/

# Ground truth directory.
gtdir = data/ucf-sports/gt/

# Directory for the action tubes.
scoredir = data/ucf-sports/boxscores/

# Directory for the action tubes.
tubedir = data/ucf-sports/tubes/

# Frames.
framedir = data/ucf-sports/videos/

# Wordtovec file for the actions.
wtvfile = data/ucf-sports/wtv/sports-wtv.npy

# Directory for the averaged supporting object scores.
supportdir = data/ucf-sports/global-objects/shuffle-avg/

# Contextual video scores.
videoscores = data/ucf-sports/wtv/videoscores-wtv-shuffle.npy

# Video file.
vidfile = data/ucf-sports/annotations/all_videos.txt

# Train and test splits.
trainsplit = data/ucf-sports/annotations/train_split.txt
testsplit  = data/ucf-sports/annotations/test_split.txt
