[actions]
# Dominant object / person detections.
domdir = data/ucf-101/rpn/

# Ground truth directory.
gtdir = data/ucf-101/gt/

# Directory for the action tubes.
scoredir = data/ucf-101/boxscores/

# Directory for the action tubes.
tubedir = data/ucf-101/tubes/

# Frames.
framedir = data/ucf-101/videos/

# Wordtovec file for the actions.
wtvfile = data/ucf-101/wtv/sports-wtv.npy

# Directory for the averaged supporting object scores.
supportdir = data/ucf-101/global-objects/shuffle-avg/

# Contextual video scores.
videoscores = data/ucf-101/wtv/videoscores-wtv-shuffle.npy

# Video file.
vidfile = data/ucf-101/annotations/all_videos.txt

# Train and test splits.
trainsplit = data/ucf-101/annotations/train_split01.txt
testsplit  = data/ucf-101/annotations/test_split01.txt
